/* ---------------------------------------css for small screen--------------------------------------------------------*/



   #header{
      background-image: url(small.jpg);  
      } 
    
      

    
    
    .header-text{
   
      margin-top: 290px;
    }
    .header-text h4{
      margin-bottom: -53px;
        margin-top: 10px;;
        font-family: 'Fredoka One', cursive;
        margin-left: -16px;
        font-size: 15px;
       
    }
    .header-text h4 span{
        color: #ff004f;
        font-family: 'Fredoka One', cursive;}
        
    nav .fa-solid{
      display: block;
      font-size: 25px;
    }
    nav ul{
      background: #ff004f;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
    
    }
    
    nav ul li{
    display: block;
    margin: 25px;
    }
    nav ul .fa-solid{
      position: absolute;
      top:25px ;
      left: 25px;
      cursor: pointer;
    }
    .sub-title{
      font-size: 40px;
    }
    .about-col-1, .about-col-2{
      flex-basis: 100%;
    }
    .about-col-1{
      margin-bottom: 30px;
    }
  .about-col-2{
    font-size: 14px;
  }

  
  .tab-links{
    font-size: 16px;
    margin-right :30px; 
  }
  
  .btn.btn2{
    
    background: #ff004f;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 600;
  }
    








  
  
  #msg{
    color: #61b752;
    margin-top: -33px;
    display: block;
   margin-left: 98px;
    font-size: 15px;
    font-weight: 400;
  }


  .contact-right form{
    width: 140%;
    margin-left: 55px;
   
  }
  .copyright{
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding: 19px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 36px;
  }
  .contact-right
  .contact-left{
    flex-basis: 100%;
  }
  .contact-left{
    width: 100%;
  }
  .social-icons{
    margin-top: 30px;
    margin-left: 30px;
  }  
  .btn.btn2{
  
    background: #ff004f;
    margin-left: 30px;
  margin-top: 40px;
padding: 13px 50px;}
  .contact-left h1{
    margin-left: 65px;
  font-size: 40px;
   display: inline-block};
    
  
   form .btn3{
    padding: 12px 40px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
   }
  #progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 60px;
    width: 60px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  #progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: black;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #caff0b;
  }

  
  
  /*-----------------------------------------------------------------------------------------------------------------*/





  .containar{
    width: 192px;
    overflow: hidden;
    margin-top: 45px;
    margin-left: 19px ;
  }
  .containar .text{
    position: relative;
    color: #ff004f;
    font-size: 20px;
    font-weight: 600;
  }
  .containar .text.first-text{
    color: #FFF;
  }
  .text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:black;
    border-left: 2px solid rgb(27, 201, 11);
    animation: animate 4s steps(12) infinite;
    font-family: 'Fredoka One', cursive;
  }
  @keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
  }
  
  
  
  
  
  
  
  
  













  